@model OpdrachtSchoolVakken.Models.StudentModel

@{
    ViewData["Title"] = "Details of students";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" style="display: none;">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10" style="display: none;">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class = "col-sm-10">
            @foreach(var item in ViewBag.displayCourseNames)
            {
                @item <br />
            }
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Results)
        </dt>
        <dd class = "col-sm-10">
            @foreach(var item in ViewBag.displayResultNames)
            {
                <div class="row">
                    <div class="col-2">
                        @item.Name
                    </div>
                    |
                    <div class="col-2">
                        @if(@Model.Results[item.Id] == null || @Model.Results[item.Id] == "")
                        {
                            <span style="color: red;">Geen punten bekend</span>
                        }
                        else
                        {
                            @Model.Results[item.Id] <span>/100</span>
                        }
                    </div>
                </div>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="ListStudents">Back to List</a>
</div>
