@model IEnumerable<Project.Models.ProductModel>

@{
    ViewData["Title"] = "Producten";
}

<h1>Producten</h1>

Leveranciers
<hr style="margin-top: 0%;"/>

@foreach(var item in ViewBag.displaySuppliers)
{
    <div class="row mb-1">
        <div class="col-2">
            @item.Supplier
        </div>
        <div class="col-2">
            @Html.ActionLink("Bekijk al mijn producten", "Index", new{ id=item.Id })
        </div>
    </div>
}
<hr style="margin-top: 1%;"/>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{    
        @if(item.AmountInStock <= 10 && item.AmountInStock > 0)
        {
            <tr class="table-warning" onclick="location.href='@Url.Action("Details", "Product", new { id=item.Id })'; return false;" style="cursor: grab;">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInStock)
                </td>
                <td>
                    <div class="row float-end justify-content-end pe-4">

                        <div class="col-2">
                            <a href="@Url.Action("Edit", "Product", new { id=item.Id })">
                                <img src="~/img/iconEdit.png">
                            </a>
                        </div>

                        <div class="col-2 ms-2 me-2">
                            <a href="@Url.Action("Details", "Product", new { id=item.Id })">
                                <img src="~/img/iconDetail.png">
                            </a>
                        </div>

                            <div class="col-2">
                            <a href="@Url.Action("Delete", "Product", new { id=item.Id })">
                                <img src="~/img/iconDelete.png">
                            </a>
                        </div>

                    </div>
                </td>
            </tr>
        }
        else if(item.AmountInStock == 0)
        {
            <tr class="table-danger" onclick="location.href='@Url.Action("Details", "Product", new { id=item.Id })'; return false;" style="cursor: grab;">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInStock)
                </td>
                <td>
                    <div class="row float-end justify-content-end pe-4">

                        <div class="col-2">
                            <a href="@Url.Action("Edit", "Product", new { id=item.Id })">
                                <img src="~/img/iconEdit.png">
                            </a>
                        </div>

                        <div class="col-2 ms-2 me-2">
                            <a href="@Url.Action("Details", "Product", new { id=item.Id })">
                                <img src="~/img/iconDetail.png">
                            </a>
                        </div>

                            <div class="col-2">
                            <a href="@Url.Action("Delete", "Product", new { id=item.Id })">
                                <img src="~/img/iconDelete.png">
                            </a>
                        </div>

                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr onclick="location.href='@Url.Action("Details", "Product", new { id=item.Id })'; return false;" style="cursor: grab;">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInStock)
                </td>
                <td>
                    <div class="row float-end justify-content-end pe-4">

                        <div class="col-2">
                            <a href="@Url.Action("Edit", "Product", new { id=item.Id })">
                                <img src="~/img/iconEdit.png">
                            </a>
                        </div>

                        <div class="col-2 ms-2 me-2">
                            <a href="@Url.Action("Details", "Product", new { id=item.Id })">
                                <img src="~/img/iconDetail.png">
                            </a>
                        </div>

                        <div class="col-2">
                            <a href="@Url.Action("Delete", "Product", new { id=item.Id })">
                                <img src="~/img/iconDelete.png">
                            </a>
                        </div>

                    </div>
                </td>
            </tr>
        }          
}
    </tbody>
</table>

<a asp-action="Create">Voeg toe</a> | 
@Html.ActionLink("Bekijk alle producten", "Index", new{ id="" }) |
<a asp-controller="Home" asp-action="Index"><span id="home-link">Home</span></a>

