@model IEnumerable<Project.Models.ProductModel>

@{
    ViewData["Title"] = "Producten";
}

<table class="table">
    <thead class="table-dark">
        <th>
            <div>
                Leverancier
            </div>
        </th>
        <th>
            <div class="float-end justify-content-end pe-4">
                Bekijk
            </div>
        </th>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.displaySuppliers)
        {
            <tr>
                <td>
                    <div>
                        @item.Supplier
                    </div>
                </td>
                <td>
                    <div class="float-end justify-content-end pe-4">
                        <a href="@Url.Action("Index", "Product", new{ id=item.Id})">
                            <img src="~/img/eyeSmall.png" />
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Bekijk alle producten", "Index", new{ id=""})



<div class="h1-nodec mt-5">
    <h1>Producten</h1>
</div>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{    
        @if(item.AmountInStock <= 5 && item.AmountInStock > 0)
        {
            <tr class="table-warning">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInStock)
                </td>
                <td class="cursor-notAllowed">
                    @Html.DisplayFor(modelItem => item.Ordered)
                </td>
                <td>
                    <div class="row float-end justify-content-end pe-4">

                        <div class="col-2">
                            <a href="@Url.Action("Edit", "Product", new { id=item.Id })">
                                <img src="~/img/iconEdit.png">
                            </a>
                        </div>

                        <div class="col-2 ms-2 me-2">
                            <a href="@Url.Action("Details", "Product", new { id=item.Id })">
                                <img src="~/img/iconDetail.png">
                            </a>
                        </div>

                            <div class="col-2">
                            <a href="@Url.Action("Delete", "Product", new { id=item.Id })">
                                <img src="~/img/iconDelete.png">
                            </a>
                        </div>

                    </div>
                </td>
            </tr>
        }
        else if(item.AmountInStock == 0)
        {
            <tr class="table-danger">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInStock)
                </td>
                <td class="cursor-notAllowed">
                    @Html.DisplayFor(modelItem => item.Ordered)
                </td>
                <td>
                    <div class="row float-end justify-content-end pe-4">

                        <div class="col-2">
                            <a href="@Url.Action("Edit", "Product", new { id=item.Id })">
                                <img src="~/img/iconEdit.png">
                            </a>
                        </div>

                        <div class="col-2 ms-2 me-2">
                            <a href="@Url.Action("Details", "Product", new { id=item.Id })">
                                <img src="~/img/iconDetail.png">
                            </a>
                        </div>

                            <div class="col-2">
                            <a href="@Url.Action("Delete", "Product", new { id=item.Id })">
                                <img src="~/img/iconDelete.png">
                            </a>
                        </div>

                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInStock)
                </td>
                <td class="cursor-notAllowed">
                    @Html.DisplayFor(modelItem => item.Ordered)
                </td>
                <td>
                    <div class="row float-end justify-content-end pe-4">

                        <div class="col-2">
                            <a href="@Url.Action("Edit", "Product", new { id=item.Id })">
                                <img src="~/img/iconEdit.png">
                            </a>
                        </div>

                        <div class="col-2 ms-2 me-2">
                            <a href="@Url.Action("Details", "Product", new { id=item.Id })">
                                <img src="~/img/iconDetail.png">
                            </a>
                        </div>

                        <div class="col-2">
                            <a href="@Url.Action("Delete", "Product", new { id=item.Id })">
                                <img src="~/img/iconDelete.png">
                            </a>
                        </div>

                    </div>
                </td>
            </tr>
        }          
}
    </tbody>
</table>

<a asp-action="Create">Voeg toe</a> | 
<a asp-controller="Product" asp-action="OrderOverview"><span id="home-link">Bestellen</span></a> |
<a asp-controller="Home" asp-action="Index"><span id="home-link">Home</span></a>
